@page "/"

<AppPageTitle Value="Home" HeaderOverride="" />

<h1>Welcome to @AppInfo.Name v@(AppInfo.Version)</h1>
<p>@AppInfo.Name is a website with random set of generators (both random and not!) that I created.</p>
<p>This application is created purely for fun, so I cannot make any promises on any further improvements - but if I get an idea for a generator, I might add it (if I feel like it)!</p>
<h3>Preview version</h3>
<p>Please note that this version of @AppInfo.Name that you're looking at right now was quickly put together and released as a preview. The UI, design etc are mostly Blazor default template, so I hope to get a proper design later on.</p>
<h2>Author</h2>
<p>
    @AppInfo.Name is a small fun side project created by <a href="@AppInfo.AuthorWebsite" target="_blank">@AppInfo.Author</a>.<br/>
    <InlineCopyright/>
</p>

<Doofen FileName="creator-rage"/>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Layout.OverwriteFooterItems(new PageFooter.Item[]
        {
            new PageFooter.Item("Source Code", "https://github.com/TehGM/Randominator")
        });
    }
}