@page "/"
@attribute [Sitemap(SitemapChangeFrequency.Monthly, Priority = 0.8f, LastModified = "2022-01-26T18:36:08+01:00")]

<HeaderTitle />

<h1>Welcome to @AppInfo.Name v@(AppInfo.Version)</h1>
<p><span class="text-special bold">@AppInfo.Name</span> is a client-side website featuring a "random" set of random (or not) generators that I programmed.</p>
<p>This application is created purely for fun, so I cannot make any promises on any further improvements - but if I get an idea for a generator, I might add it (if I feel like it)!</p>
<p>
    See the menu 
    <span class="menu-location-text side">to the left </span>
    <span class="menu-location-text top">on top after pressing <span class="oi oi-menu"></span> button </span>
    for a list of currently available generators!
</p>
<h3>Beta version</h3>
<p>@AppInfo.Name is still considered to be beta/preview version. As such, UI and page design might be imperfect and every feature is subject to change.</p>
<p>On the other hand, that means more generators are relatively likely to come, too!</p>
<h2>Author</h2>
<p>
    <span class="text-special">@AppInfo.Name</span> is a small fun side project created by <a href="@AppInfo.AuthorWebsite" target="_blank">@AppInfo.Author</a>.<br/>
    <InlineCopyright/>
</p>

<Doofen FileName="creator-rage"/>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Layout.OverwriteFooterItems(null);
    }
}