<div class="nav-menu">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">@AppInfo.Name v@(AppInfo.Version)</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    
    <div class="nav-menu-items @this.NavMenuClass">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <hr/>
            <div class="nav-item px-3">
                <a class="nav-link" @onclick="ToggleGenerators">
                    <span class="oi oi-expand-down" aria-hidden="true"></span> Generators
                </a>
            </div>
            <div class="nav-item px-3 @this.GeneratorsClass">
                <NavLink class="nav-link" href="generators/mobile-game-name">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Mobile Game Name
                </NavLink>
            </div>
            <div class="nav-item px-3 @this.GeneratorsClass">
                <NavLink class="nav-link" href="generators/programming-standards">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Programming Standards
                </NavLink>
            </div>
        </nav>
    
    </div>

    <div class="copyright @this.NavMenuClass">
        <p>
            <InlineCopyright/>
        </p>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool collapseGenerators = false;

    private string NavMenuClass => collapseNavMenu ? "collapse" : string.Empty;
    private string GeneratorsClass => collapseGenerators ? "sub-item hidden" : "sub-item";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleGenerators()
    {
        collapseGenerators = !collapseGenerators;
    }
}
