@inherits StandardSectionComponent

<div>
    @RenderSectionHeader()

    @if (Standard.AllowFlowControl == AllowMode.Forbid)
    {
        <text>Use of any flow control (such as <code>if</code> statements) in @LanguageName is forbidden!</text>
    }
    else if (Standard.AllowFlowControl == AllowMode.Discourage)
    {
        <text>Use of any flow control (such as <code>if</code> statements) is discouraged in @LanguageName. However, if you need to use it, </text>
    }
    else 
    {
        <text>When using any flow control (such as <code>if</code> statements) in @LanguageName, </text>
    }
    
    @if (Standard.AllowFlowControl != AllowMode.Forbid)
    {
        @Standard.FlowControlBracketsStyle.RenderBracketsStyleText()

        <CodeSample ID="@this.CodeSampleID">
            @BracketsFormatter.RenderCodeHtml("if (true)", "// do something", Standard.FlowControlBracketsStyle)
        </CodeSample>
    }
</div>